#container{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}
#menu{
    width: 20%;
    min-height: 500px;
    background-color: #DDDDDD;
    float: left;
}
#content{
    width: 80%;
    min-height: 500px;
    background-color: #EEEEEE;
    float: left;
}
.header{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}