<table  id="quickResultTable" cellspacing="0" cellpadding="0">
    <tr class="quickResultRow">
      <td class="resultCellCenterQuick emptyRow">Threre are no results in selected view.</td>
    </tr>
</table>