<div id="loginContainer">
    <div id="loginLogo">
        <img src="<%= image_url 'top_white.png' %>" alt="Ticketer" id="loginTopBanner">
        </div>
    <div id="loginForm">
        <%= yield %>
    </div>
</div>